@import '~font-awesome/css/font-awesome.css';
@import '~buefy/lib/buefy.css';
@import '~font-awesome/css/font-awesome.css';

.tabs {
  padding-bottom: 10px;
}

.menu {
  text-align: center;

  .button {
    min-width: 20%;
    max-width: 60%;
  }
}

.menu-button {
  min-width: 20%;
}

.asset-info {
  padding: 2em;
  text-align: center;
}

.rent-button {
  width: 50%;
  text-align: center;
}

.wrapper {
  text-align: center;
}

.card-title {
  font-size: 1em;
  font-weight: bold;
  padding-top: 0.4em;
  margin-bottom: 0;
}

.cards {
  column-count: 1;
  column-gap: 10px;
  margin: 0 10px 0 10px;
}

@media only screen and (min-width: 500px) {
  .cards {
    column-count: 2;
  }
}

@media only screen and (min-width: 700px) {
  .cards {
    column-count: 3;
  }
}

@media only screen and (min-width: 900px) {
  .cards {
    column-count: 4;
  }
}

@media only screen and (min-width: 1100px) {
  .cards {
    column-count: 5;
  }
}

@media only screen and (min-width: 1500px) {
  .cards {
    column-count: 8;
  }
}


.card {
   background: rgba(#f5f5f5, 0.47);
   padding: 3px;
   margin: 1em 0 1em;
   cursor: pointer;
   transition: all 100ms ease-in-out;
   display: inline-block;
   text-align: center;
   width: 250px;
 }

 .card:hover {
   transform: translateY(-0.5em);
   background: #EBEBEB;
 }

 .covers {
   overflow: scroll;
 }

 img {
   display: block;
   margin: auto;
 }
